<%= form_with(url: target, method: :post) do |form| %>
  <% if params[:scope] %>
    <%= fields_for :scope do |req_scope| %>
      <div class="scopes">
        <ul class="scope">
          <% for scope in params[:scope].split %>
            <li>
              <%= label_tag(:scope, class: 'scope-label') do %>
                <%= req_scope.check_box(:scope, {multiple: true, checked: true}, scope, nil) %>
                <%= user_scope_description scope %>
              <% end -%>
            </li>
          <%- end %>
        </ul>
      </div>
    <% end %>
  <% end -%>
  <%= fields_for :user do |user_scope| %>
    <%= user_scope.hidden_field :dummy, value: 42 %>
    <% if Authorio.configuration.multiuser %>
      <%= user_scope.label(:username, "Username") %>
      <%= user_scope.text_field(:username) %>
    <% end -%>
    <% unless logged_in? %>
      <%= user_scope.label(:password, "Password") %>
      <%= user_scope.password_field(:password, autofocus: true) %>
      <% if rememberable? %>
        <%= label_tag(:remember_me, class: 'remember') do %>
          <%= user_scope.check_box :remember_me %>
          <span class='r-m'>Remember me for <%= distance_of_time_in_words Authorio.configuration.local_session_lifetime -%></span>
        <% end %>
      <% end %>
    <% end %>
  <% end -%>
  <div class='auth-btn-row'>
    <% if cancel %>
      <%= form.submit("Cancel", class: 'btn btn-default auth-btn') %>
    <% end %>
    <%= form.submit("Sign in", class: 'btn btn-success auth-btn') %>
  </div>
<% end %>
