<%= stylesheet_link_tag "authorio/auth" %>
<% content_for :title, "Authorio Login" %>

<div class="container authorio-auth">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 auth-panel">
      <h3>Authorio</h3>
      <div class="client-row">
        Authenticating with <span class="client"><%= params[:client_id] %>
      </div>
      <%= form_with(model: @user, url: authorize_user_path(@user), method: :post) do |form| %>
        <%= form.label(:url, "User URL") %>
        <%= form.text_field(:url, value: params[:me], readonly: true) %>
        <%= form.label(:password, "Password") %>
        <%= form.password_field(:password, autofocus: true) %>
        <div class='auth-btn-row'>
          <%= form.submit("Cancel", class: 'btn btn-default auth-btn') %>
          <%= form.submit("Sign in", class: 'btn btn-success auth-btn') %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
